@font-face
	font-family: 'icomoon'
	src: url('../fonts/sprite/icomoon.eot?nnnnnn')
	src: url('../fonts/sprite/icomoon.eot?nnnnnn#iefix') format('embedded-opentype'), url('../fonts/sprite/icomoon.ttf?nnnnnn') format('truetype'), url('../fonts/sprite/icomoon.woff?nnnnnn') format('woff'), url('../fonts/sprite/icomoon.svg?nnnnnn#icomoon') format('svg')
	font-weight: normal
	font-style: normal