.i-logo,
.i-arrow,
.i-arrow-2,
.i-arrow-3,
.i-tick,
.i-mouse,
.i-arrow-4,
.i-arrow-5,
.i-arrow-6,
.i-arrow-7,
.i-pencil,
.i-tick-2,
.i-tick-3

	+font-sprite

.i-logo

	&::after
		content: '\e900'

.i-arrow

	&::after
		content: '\e901'

.i-arrow-2

	&::after
		content: '\e902'

.i-arrow-3

	&::after
		content: '\e903'

.i-tick

	&::after
		content: '\e904'

.i-mouse

	&::after
		content: '\e905'

.i-arrow-4

	&::after
		content: '\e906'

.i-arrow-5

	&::after
		content: '\e907'

.i-arrow-6

	&::after
		content: '\e908'

.i-pencil

	&::after
		content: '\e909'

.i-tick-2

	&::after
		content: '\e90a'

.i-tick-3

	&::after
		content: '\e90b'

.i-arrow-7

	&::after
		content: '\e90c'
