mixin b-footer( active )

	footer.b-footer&attributes(attributes)
		.b-footer__inner
			.b-footer__item
				.b-footer__list
					.b-footer__list-item
						a.b-footer__list-link( href="#!" ) Terms &amp; Conditions
					.b-footer__list-item
						a.b-footer__list-link( href="#!" ) Privacy Policy
					.b-footer__list-item
						a.b-footer__list-link( href="#!" ) Contact us

			.b-footer__item
				.b-footer__text( href="#!" ) © 2019 Resumedone. All Rights Reserved
