.b-heading-4
	display: flex // to collapse margins inside
	flex-direction: column

	margin-bottom: 65px

	&_last
		margin-bottom: 0

	&__title
		margin: -12px 0 16px

		color: $black
		font-size: 42px
		font-weight: 800
		line-height: 56px
		letter-spacing: .04em

		+md-desk_sm
			margin: -11px 0 18px
			font-size: 38px

		+md-tablet_sm
			margin: -11px 0 19px
			font-size: 34px
			line-height: 46px

		&_last
			margin-bottom: -14px

			+md-desk_sm
				margin-bottom: -12px

			+md-tablet_sm
				margin-bottom: -11px

	&__subtitle
		margin: -9px 0

		color: $grey
		font-size: 14px
		line-height: 2
		font-weight: 300
		font-style: italic
		letter-spacing: .06em
