.b-header
	position: absolute
	top: 0
	left: 0
	z-index: $z_i-b-header

	display: flex
	justify-content: space-between
	align-items: center

	width: 100%
	min-height: 75px

	padding: 30px 40px

	@media only screen and ( max-width: 1640px )
		padding: 30px

	+md-tablet_h_sm
		padding-top: 20px
		padding-bottom: 20px

	+md-mobile
		padding: 20px

	&_style_2
		padding-top: 14px
		padding-bottom: 14px

		&::before
			content: ''

			position: absolute
			top: 0
			left: 0
			z-index: 1

			width: 100%
			height: 100%

			background-color: $white
			box-shadow: 0 0 60px 0 rgba( $b_sh_c, .1 )

	&__item

	&__logo
		position: relative
		z-index: 2 // to be above &&_style_2::before

		&::after
			content: 'Resumedone'

			display: block

			margin: -3px 0

			color: $black
			font-size: 21px
			line-height: 1
			font-weight: 700
			letter-spacing: -.04em

	&__nav
		display: flex
		align-items: center
		margin: -10px

		+md-tablet_sm
			margin: -7px -5px

	&__nav-item
		padding: 10px

		+md-tablet_sm
			padding: 7px 5px

	&__btn
		position: relative
		z-index: 2 // to be above &&_style_2::before

		width: 160px

		border-radius: 23.5px
		padding: 12px 25px

		background-color: $grey-lighter

		color: $black
		font-size: 13px
		font-weight: 600
		line-height: 23px
		letter-spacing: .06em

		text-align: center

		&_upgrade
			position: relative // for &::before

			padding-left: 70px

			background-color: $brand-primary

			color: $white

			&::before
				content: ''

				position: absolute
				top: 11px
				left: 28px

				width: 29px
				height: 25px

				background: url( '#{$img}/b-header/star.svg' ) center / cover no-repeat

	&__user
		position: relative // for &__user-dropdown

	&__user-inner
		position: relative
		z-index: 2 // to be above &&_style_2::before

		display: flex
		align-items: center

		padding: 0 18px 19px 0
		margin-bottom: -19px

		cursor: pointer

		&::before
			content: ''

			position: absolute
			top: 16px
			right: 0

			border: 4px solid transparent
			border-bottom-width: 0
			border-top-color: $black

	&__photo
		width: 37px
		height: 37px

		margin-right: 15px
		border-radius: 50%

		background: $grey-lighter center / cover no-repeat

		+md-tablet_sm
			margin-right: 0

	&__text
		margin: -7px 0

		color: $black
		font-size: 13px
		line-height: 23px
		font-weight: 600
		letter-spacing: .06em

		+md-tablet_sm
			display: none

	&__user-dropdown
		position: absolute
		top: 100%
		right: 0

		display: none

		min-width: 180px

		background-color: $white
		box-shadow: 0 0 20px 0 rgba( $b_sh_c, .1 )

	&__user:hover &__user-dropdown
		display: block

	&__user-dropdown-item // tag a
		display: block

		padding: 22px 20px

		background-color: rgba( $brand-primary, 0 )

		transition: background-color .2s

		&:hover
			background-color: rgba( $brand-primary, .1 )

	&__user-dropdown-text
		margin: -7px 0

		color: $black
		font-size: 13px
		line-height: 23px
		font-weight: 600
		letter-spacing: .06em
