.b-hero
	display: flex
	overflow: hidden
	height: 100vh

	&__item
		width: 50%

		&_content
			position: relative
			z-index: 1 // to be over &_img

			display: flex
			align-items: center
			justify-content: center

			min-width: 710px

			padding: 100px 40px

			box-shadow: 0px 10px 60px 0 rgba( 10, 26, 51, .2 )

			@media only screen and ( max-width: 1640px )
				padding: 100px 30px

			@media only screen and ( max-width: 1500px )
				min-width: 600px

		&_img
			position: relative // for &::before and &__img
			overflow: hidden // for &__img

			background:
				image: url( '#{$img}/b-hero/bg_decoration.png' )
				position: -64px -15px
				size: 291px 341px
				repeat: no-repeat

			+md-retina
				background-image: url( '#{$img}/b-hero/bg_decoration@2x.png' )

			&::before
				content: ''

				position: absolute
				bottom: 4vh
				left: calc( 3.6vw - 1.1111111vh )

				width: 3.6666667vh
				height: 50.5555556vh

				background:
					image: url( '#{$img}/b-hero/bg_decoration_2.png' )
					position: center
					size: cover
					repeat: no-repeat

				+md-retina
					background-image: url( '#{$img}/b-hero/bg_decoration_2@2x.png' )

	&__img
		position: absolute
		top: 0
		left: 0

		width: 100%
		height: 100%

		background: url( '#{$img}/b-hero/bg_2.jpg' ) center / cover no-repeat

		transform: scale( 1 )

		transition: transform .2s

		&:hover
			transform: scale( 1.05 )

	&__content
		position: relative // for &__btn
		max-width: 600px

	&__heading
		position: relative

		display: flex // to collapse margins inside
		flex-direction: column

		margin-bottom: 60px
		border-bottom: 1px solid $black
		padding-bottom: 35px

		&::before,
		&::after
			content: ''

			position: absolute
			bottom: -5px

			width: 9px
			height: 9px

			background-color: $black

		&::before
			left: 0

		&::after
			right: 0

	&__heading-text
		margin: -13px 0 22px

		color: $black
		font-size: 50px
		line-height: 60px
		font-weight: 700
		letter-spacing: .018em

		@media only screen and ( max-width: 1500px )
			margin: -12px 0 16px
			font-size: 42px
			line-height: 56px

		&_highlighted
			color: $brand-primary

		&_last
			margin-bottom: -13px

	&_theme_2 .b-hero__heading-text_highlighted
		color: $brand-primary-2

	&_theme_3 .b-hero__heading-text_highlighted
		color: $brand-primary-3

	&_theme_4 .b-hero__heading-text_highlighted
		color: $brand-primary-4

	&_theme_5 .b-hero__heading-text_highlighted
		color: $brand-primary-5

	&_theme_6 .b-hero__heading-text_highlighted
		color: $brand-primary-6

	&_theme_7 .b-hero__heading-text_highlighted
		color: $brand-primary-7

	&__subheading-text
		margin: -9px 0 -11px

		color: $black
		font-size: 16px
		line-height: 2
		font-weight: 600
		font-style: italic
		letter-spacing: .04em

	&__list
		counter-reset: list

		display: flex
		flex-wrap: wrap
		align-items: flex-start

		margin: -15px

	&__list-item
		position: relative // for &::before

		display: flex
		align-items: center

		width: calc( 50% - 30px )
		max-width: none
		min-height: 170px

		margin: 15px
		padding: 35px

		background-color: #f5f5f5

		&::before
			content: counter( list ) '.'
			counter-increment: list

			position: absolute
			top: 10px
			right: calc( 100% - 10px )

			color: $brand-primary
			font-size: 24px
			line-height: 1
			font-weight: 900
			letter-spacing: .08em

		&:nth-child( even )
			margin-top: 100px
			margin-bottom: -120px

	&_theme_2 .b-hero__list-item::before
		color: $brand-primary-2

	&_theme_3 .b-hero__list-item::before
		color: $brand-primary-3

	&_theme_4 .b-hero__list-item::before
		color: $brand-primary-4

	&_theme_5 .b-hero__list-item::before
		color: $brand-primary-5

	&_theme_6 .b-hero__list-item::before
		color: $brand-primary-6

	&_theme_7 .b-hero__list-item::before
		color: $brand-primary-7

	&__list-text
		margin: -9px 0 -10px

		color: $black
		font-size: 15px
		line-height: 30px
		font-weight: 500
		letter-spacing: .06em

		&_highlighted
			font-weight: 800

	&__btn // tag a
		position: absolute
		bottom: 0
		left: calc( 50% + 15px )

		width: calc( 50% - 15px )

		display: block

		&::before
			content: ''

			position: absolute
			bottom: 0
			right: -17px

			opacity: .2

			width: 100%
			height: calc( 100% + 17px )

			background: $brand-primary

			transition: all .2s

		&:hover::before
			bottom: 5px
			right: -22px

		&:active::before
			bottom: 0
			right: 0
			height: 100%

		&::after
			content: ''

			position: absolute
			top: calc( 100% + 10px )
			left: 17px

			width: calc( 100% - ( 17px + 50px ) )
			height: 1px

			background: $brand-primary

			transition: all .2s

		&:hover::after
			width: 120px

		&:active::after
			width: 20px

	&_theme_2 .b-hero__btn::before,
	&_theme_2 .b-hero__btn::after
		background: #F37101

	&_theme_3 .b-hero__btn::before,
	&_theme_3 .b-hero__btn::after
		background: $brand-primary-3

	&_theme_4 .b-hero__btn::before,
	&_theme_4 .b-hero__btn::after
		background: #f37101

	&_theme_5 .b-hero__btn::before,
	&_theme_5 .b-hero__btn::after
		background: $brand-primary-5

	&_theme_6 .b-hero__btn::before,
	&_theme_6 .b-hero__btn::after
		background: #77b300

	&_theme_7 .b-hero__btn::before,
	&_theme_7 .b-hero__btn::after
		background: #3ca0f2

	&__btn-inner // tag span
		position: relative
		display: block

		&::before
			content: ''

			position: absolute
			top: -11px
			left: -11px

			width: 20px
			height: 1px

			background: $brand-primary

			transition: all .2s

		&::after
			content: ''

			position: absolute
			top: -11px
			left: -11px

			width: 1px
			height: 20px

			background: $brand-primary

			transition: all .2s

	&_theme_2 .b-hero__btn-inner::before,
	&_theme_2 .b-hero__btn-inner::after
		background: #F37101

	&_theme_3 .b-hero__btn-inner::before,
	&_theme_3 .b-hero__btn-inner::after
		background: $brand-primary-3

	&_theme_4 .b-hero__btn-inner::before,
	&_theme_4 .b-hero__btn-inner::after
		background: #f37101

	&_theme_5 .b-hero__btn-inner::before,
	&_theme_5 .b-hero__btn-inner::after
		background: $brand-primary-5

	&_theme_6 .b-hero__btn-inner::before,
	&_theme_6 .b-hero__btn-inner::after
		background: #77b300

	&_theme_7 .b-hero__btn-inner::before,
	&_theme_7 .b-hero__btn-inner::after
		background: #3ca0f2

	&__btn:hover .b-hero__btn-inner::before
		left: -21px

	&__btn:active .b-hero__btn-inner::before
		left: -25px

	&__btn:hover .b-hero__btn-inner::after
		top: -21px

	&__btn:active .b-hero__btn-inner::after
		top: -25px

	&__btn-inner-2 // tag span
		position: relative
		z-index: 1 // to be over .b-hero__btn::before, .b-hero__btn::after and .b-hero__btn-inner::before, .b-hero__btn::before
		display: flex
		justify-content: center

		width: 100%

		padding: 19px 25px

		background: $brand-primary
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary, .3 )

		transition: all .2s

	&_theme_2 .b-hero__btn-inner-2
		background: #F37101
		box-shadow: 0px 20px 60px 0 rgba( #F37101, .3 )

	&_theme_3 .b-hero__btn-inner-2
		background: $brand-primary-3
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-3, .3 )

	&_theme_4 .b-hero__btn-inner-2
		background: #f37101
		box-shadow: 0px 20px 60px 0 rgba( #f37101, .3 )

	&_theme_5 .b-hero__btn-inner-2
		background: $brand-primary-5
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-5, .3 )

	&_theme_6 .b-hero__btn-inner-2
		background: #77b300
		box-shadow: 0px 20px 60px 0 rgba( #77b300, .3 )

	&_theme_7 .b-hero__btn-inner-2
		background: #3ca0f2
		box-shadow: 0px 20px 60px 0 rgba( #3ca0f2, .3 )

	&__btn:hover .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary, .5 )

	&_theme_2 .b-hero__btn:hover .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( #F37101, .5 )

	&_theme_3 .b-hero__btn:hover .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-3, .5 )

	&_theme_4 .b-hero__btn:hover .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( #f37101, .5 )

	&_theme_5 .b-hero__btn:hover .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-5, .5 )

	&_theme_6 .b-hero__btn:hover .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( #77b300, .5 )

	&_theme_7 .b-hero__btn:hover .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( #3ca0f2, .5 )

	&__btn:active .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary, 0 )

	&_theme_2 .b-hero__btn:active .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( #F37101, 0 )

	&_theme_3 .b-hero__btn:active .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-3, 0 )

	&_theme_4 .b-hero__btn:active .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( #f37101, 0 )

	&_theme_5 .b-hero__btn:active .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-5, 0 )

	&_theme_6 .b-hero__btn:active .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( #77b300, 0 )

	&_theme_7 .b-hero__btn:active .b-hero__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( #3ca0f2, 0 )

	&__btn-text // tag span
		position: relative // for &:: after
		left: 0

		display: block

		padding-right: 55px

		color: $white
		font-size: 14px
		line-height: 24px
		font-weight: 700
		letter-spacing: .06em

		text-align: center
		text-transform: uppercase

		transition: all .2s

		@extend .i-arrow-3

		&::after
			position: absolute
			top: 6px
			right: 0

			color: $white
			font-size: 13px

	&__btn:hover .b-hero__btn-text
		left: 4px

	&__btn:active .b-hero__btn-text
		left: 8px

	&__demo
		display: flex
		align-items: center
		justify-content: center

		height: 100%
		margin-left: 0

	&__demo-item
		position: relative
		padding: 20px

	&__demo-img
		width: 32.3125vw
		max-width: 517px

		background: center / cover no-repeat
		box-shadow: 0px 20px 100px 0 rgba( #171f26, .2 )

		&:first-child
			transform: scale( 1 )
			transition: transform .2s

		&:last-child
			position: absolute
			top: 20px
			left: calc( 100% + 20px )

		&_1
			background-image: url( '#{$img}/b-hero/1.jpg' )

		&_2
			background-image: url( '#{$img}/b-hero/2.jpg' )

	&__item_img:hover .b-hero__demo-img

		&:first-child
			transform: scale( 1.05 )

	&__demo-img-inner
		padding-top: 141.1992263%
