.b-hero
	display: flex
	overflow: hidden
	height: 100vh

	&__item
		width: 50%

		&_content
			position: relative
			z-index: 1 // to be over &_img

			display: flex
			align-items: center
			justify-content: center

			min-width: 710px

			padding: 100px 40px

			box-shadow: 0px 10px 60px 0 rgba( 10, 26, 51, .2 )

			@media only screen and ( max-width: 1640px )
				padding: 100px 30px

			@media only screen and ( max-width: 1500px )
				min-width: 600px

			@media only screen and ( max-height: 500px )
				overflow: auto
				min-height: 500px

		&_img
			position: relative // for &::before

			background:
				color: #e3e5e7
				image: url( '#{$img}/b-hero/bg_decoration.png' )
				position: -64px -15px
				size: 291px 341px
				repeat: no-repeat

			+md-retina
				background-image: url( '#{$img}/b-hero/bg_decoration@2x.png' )

			&::before
				content: ''

				position: absolute
				bottom: 4vh
				left: calc( 3.6vw - 1.1111111vh )

				width: 3.6666667vh
				height: 50.5555556vh

				background:
					image: url( '#{$img}/b-hero/bg_decoration_2.png' )
					position: center
					size: cover
					repeat: no-repeat

				+md-retina
					background-image: url( '#{$img}/b-hero/bg_decoration_2@2x.png' )

	&_style_8 &__item_content,
	&_style_9 &__item_content
		padding: 100px 40px 60px

		+md-tablet_h
			padding: 50px 30px 50px

	&_style_10 &__item_content
		padding: 100px 40px 60px

		+md-tablet_h
			padding: 100px 30px 50px

	&__content
		position: relative // for &__btn
		max-width: 600px

	&_style_5 &__content,
	&_style_7 &__content
		position: static

	&_style_5 &__content
		max-width: 430px

		+md-desk_sm
			max-width: 410px

	&_style_6 &__content
		max-width: 460px

	&_style_7 &__content

		+md-desk_sm
			max-width: 480px

	&_style_8 &__content,
	&_style_9 &__content,
	&_style_10 &__content
		max-width: none

	&__heading
		position: relative

		display: flex // to collapse margins inside
		flex-direction: column

		margin-bottom: 60px
		border-bottom: 1px solid $black
		padding-bottom: 35px

		+md-tablet_h
			margin-bottom: 45px
			padding-bottom: 30px

		&::before,
		&::after
			content: ''

			position: absolute
			bottom: -5px

			width: 9px
			height: 9px

			background-color: $black

		&::before
			left: 0

		&::after
			right: 0

	&_style_2 &__heading,
	&_style_3 &__heading,
	&_style_4 &__heading,
	&_style_5 &__heading,
	&_style_7 &__heading
		margin-bottom: 55px

		+md-tablet_h
			margin-bottom: 45px
			padding-bottom: 30px

	&_style_4 &__heading,
	&_style_5 &__heading,
	&_style_6 &__heading,
	&_style_7 &__heading,
	&_style_8 &__heading,
	&_style_9 &__heading,
	&_style_10 &__heading
		border-bottom: none
		padding-bottom: 0

		&::before,
		&::after
			display: none

	&_style_6 &__heading
		margin-bottom: 45px

		+md-tablet_h_sm
			margin-bottom: 40px

	&_style_8 &__heading,
	&_style_9 &__heading
		text-align: center

		+md-tablet_h
			margin-bottom: 40px

	&_style_10 &__heading
		margin-bottom: 55px
		text-align: center

		+md-tablet_h
			margin-bottom: 50px

	&__heading-text
		margin: -12px 0 21px

		color: $black
		font-size: 48px
		line-height: 60px
		font-weight: 700
		letter-spacing: .04em

		@media only screen and ( max-width: 1500px )
			margin: -12px 0 16px
			font-size: 42px
			line-height: 56px

		+md-tablet_h
			margin: -10px 0 14px
			font-size: 38px
			line-height: 48px

		&_highlighted
			color: $brand-primary

		&_lg
			font-size: 70px
			letter-spacing: .04em

			+md-tablet_h_sm
				font-size: 58px

		&_last
			margin-bottom: -14px

			+md-tablet_h
				margin-bottom: -11px

	&_style_5 &__heading-text,
	&_style_6 &__heading-text,
	&_style_9 &__heading-text,
	&_style_10 &__heading-text
		margin: -16px 0 23px
		line-height: 67px
		font-weight: 800

		+md-tablet_h_sm
			font-size: 30px
			line-height: 52px

		&_last
			margin-bottom: -17px

	&_style_5 &__heading-text,
	&_style_10 &__heading-text

		+md-tablet_h_sm
			margin: -15px 0 14px

	&_style_6 &__heading-text,
	&_style_9 &__heading-text

		+md-tablet_h_sm
			margin: -15px 0 9px

	&_style_5 &__heading-text,
	&_style_6 &__heading-text,
	&_style_9 &__heading-text,
	&_style_10 &__heading-text

		&_last

			+md-tablet_h_sm
				margin-bottom: -16px

	&_style_8 &__heading-text
		margin-bottom: 31px

		+md-tablet_h
			margin-bottom: 14px

		&_last
			margin-bottom: -14px

			+md-tablet_h
				margin-bottom: -11px

	&__subheading-text
		margin: -9px 0 -11px

		color: $black
		font-size: 16px
		line-height: 2
		font-weight: 600
		font-style: italic
		letter-spacing: .04em

		+md-tablet_h
			margin: -9px 0 -10px
			font-size: 15px

	&_style_4 &__subheading-text,
	&_style_5 &__subheading-text,
	&_style_6 &__subheading-text,
	&_style_7 &__subheading-text,
	&_style_8 &__subheading-text,
	&_style_9 &__subheading-text,
	&_style_10 &__subheading-text
		font-weight: 400

	&_style_5 &__subheading-text
		margin: -10px 0 -11px

		font-size: 15px
		line-height: 32px
		font-style: normal

	&_style_6 &__subheading-text
		margin: -7px 0 -9px

		font-size: 13px
		line-height: 26px

	&__img
		width: 285px
		height: 230px

		margin: 0 auto

		background: url( '#{$img}/b-hero/item_2.jpg' ) center / contain no-repeat

		+md-tablet_h
			height: 190px

	&__list
		counter-reset: list

		display: flex
		flex-wrap: wrap
		align-items: flex-start

		margin: -15px

	&_style_2 &__list,
	&_style_3 &__list,
	&_style_4 &__list,
	&_style_7 &__list
		margin: -20px -20px 45px

		+md-tablet_h
			margin: -17px -17px 38px

	&_style_5 &__list
		margin: -20px

		+md-tablet_h
			margin: -17px

	&_style_6 &__list
		margin: -20px -20px 35px

		+md-tablet_h
			margin: -17px -17px 38px

		+md-tablet_h_sm
			margin-bottom: 28px

	&_style_8 &__list,
	&_style_9 &__list
		flex-wrap: nowrap
		margin: -10px

	&__list-item
		position: relative // for &::before

		display: flex
		align-items: center

		width: calc( 50% - 30px )
		max-width: none
		min-height: 170px

		margin: 15px
		padding: 35px

		background-color: #f5f5f5

		+md-tablet_h
			width: calc( 50% - 20px )
			min-height: 150px

			margin: 10px
			padding: 25px 35px

		+md-tablet_h_sm
			min-height: 120px

		&::before
			content: counter( list ) '.'
			counter-increment: list

			position: absolute
			top: 10px
			right: calc( 100% - 10px )

			color: $brand-primary
			font-size: 24px
			line-height: 1
			font-weight: 900
			letter-spacing: .08em

		&:nth-child( even )
			margin-top: 100px
			margin-bottom: -120px

			+md-tablet_h
				margin-top: 70px
				margin-bottom: -80px

			+md-tablet_h_sm
				margin-top: 45px
				margin-bottom: -60px

	&_style_2 &__list-item,
	&_style_3 &__list-item,
	&_style_4 &__list-item,
	&_style_5 &__list-item,
	&_style_6 &__list-item,
	&_style_7 &__list-item,
		width: calc( 100% + 40px )
		min-height: 0

		margin: 20px

		background-color: transparent

		+md-tablet_h
			width: calc( 100% + 34px )
			margin: 17px

	&_style_2 &__list-item,
	&_style_3 &__list-item
		padding: 0 0 0 30px

		&::before
			position: absolute
			top: 0
			left: 0
			right: auto

			margin: -8px 0 -9px

			color: $black
			font-size: 15px
			line-height: 28px
			font-weight: 700
			letter-spacing: .06em

	&_style_4 &__list-item,
	&_style_5 &__list-item,
	&_style_6 &__list-item
		padding: 0 0 0 60px

		&::before
			content: counter( list )

			position: absolute
			top: 15px
			left: 19px
			right: auto
			z-index: 1 // to be above &::after

			margin: -9px 0 -10px

			color: $brand-primary
			font-size: 12px
			line-height: 28px
			font-weight: 600
			letter-spacing: .06em

			transform: translate( -50%, -50% )

		&::after
			content: ''

			position: absolute
			top: 11px
			left: 6px

			width: 27px
			height: 27px

			background-color: rgba( $brand-primary, .15 )

			transform: rotateZ( 45deg ) translate( -50%, -50% )

	&_style_7 &__list-item,
	&_style_8 &__list-item,
	&_style_9 &__list-item

		&::before
			content: counter( list )

			left: 0
			right: auto

			font-size: 22px

	&_style_7 &__list-item
		padding: 0 0 0 32px

		&::before
			top: -7px

	&_style_8 &__list-item,
	&_style_9 &__list-item
		width: auto
		min-height: 0

		margin: 10px
		padding: 0 0 200px 17px

		background-color: transparent

		&::before
			top: -6px
			font-size: 18px

		&::after
			content: ''

			position: absolute
			top: 20px
			left: 50%

			width: 100%
			max-width: 285px
			height: 230px

			background: center / contain no-repeat

			transform: translateX( -50% )

		&:nth-child( 1 )::after
			background-image: url( '#{$img}/b-hero/item_1.jpg' )

		&:nth-child( 2 )::after
			background-image: url( '#{$img}/b-hero/item_2.jpg' )

		&:nth-child( 3 )::after
			background-image: url( '#{$img}/b-hero/item_3.jpg' )

	&_style_8 &__list-item,
	&_style_9 &__list-item

		+md-tablet_h
			padding-bottom: 120px

		@media only screen and ( max-height: 500px )
			padding-bottom: 90px

		&::after

			+md-tablet_h
				top: 40px
				height: 140px

	&__list-text
		margin: -9px 0 -10px

		color: $black
		font-size: 15px
		line-height: 30px
		font-weight: 500
		letter-spacing: .06em

		+md-tablet_h
			margin: -11px 0 -10px
			font-size: 14px

		&_highlighted
			font-weight: 800

	&_style_2 &__list-text,
	&_style_3 &__list-text,
	&_style_4 &__list-text,
	&_style_5 &__list-text,
	&_style_6 &__list-text,
	&_style_7 &__list-text,
		margin: -8px 0 -9px
		line-height: 28px

	&_style_8 &__list-text,
	&_style_9 &__list-text
		margin: -6px 0 -7px
		font-size: 12px
		line-height: 22px

	&__btn // tag a
		position: absolute
		bottom: 0
		left: calc( 50% + 15px )

		width: calc( 50% - 15px )

		display: block

		&::before
			content: ''

			position: absolute
			bottom: 0
			right: -17px

			width: 100%
			height: calc( 100% + 17px )

			background: rgba( $brand-primary-2, .2 )

			transition: all .2s

		&:hover::before
			bottom: 5px
			right: -22px

		&:active::before
			bottom: 0
			right: 0
			height: 100%

		&::after
			content: ''

			position: absolute
			top: calc( 100% + 10px )
			left: 17px

			width: calc( 100% - ( 17px + 50px ) )
			height: 1px

			background: $brand-primary-2

			transition: all .2s

		&:hover::after
			width: 120px

		&:active::after
			width: 20px

	&_style_2 &__btn,
	&_style_3 &__btn,
	&_style_4 &__btn,
	&_style_6 &__btn,
	&_style_8 &__btn,
	&_style_9 &__btn,
	&_style_10 &__btn
		position: relative
		bottom: auto
		left: auto

		width: 100%
		max-width: 285px

	&_style_3 &__btn,
	&_style_4 &__btn,
	&_style_5 &__btn,
	&_style_7 &__btn

		&::after
			display: none

	&_style_3 &__btn,
	&_style_4 &__btn

		&::before
			top: -10px
			bottom: auto
			left: 10px
			right: auto

			height: calc( 100% + 20px )

			border: 1px solid rgba( $brand-primary-2, .5 )

			background-color: transparent

	&_style_5 &__btn,
	&_style_7 &__btn
		position: absolute
		top: calc( 50% - 60px )
		bottom: auto
		left: calc( 100% - 60px )

		width: auto

		&::before
			top: -40px
			bottom: auto
			left: -40px
			right: auto

			width: 200px
			height: 200px

			border-radius: 50%

			background-color: rgba( $brand-primary-2, .2 )

		&:hover::before
			top: -65px
			left: -65px

			width: 250px
			height: 250px

			background-color: rgba( $brand-primary-2, .1 )

		&:active::before
			top: 0px
			left: 0px

			width: 120px
			height: 120px

			background-color: rgba( $brand-primary-2, 0 )

	&_style_8 &__btn,
	&_style_9 &__btn
		margin: 0 auto 70px

		+md-tablet_h
			margin-bottom: 45px

	&_style_10 &__btn
		margin: 0 auto 60px

		+md-tablet_h
			margin-bottom: 40px

	&__btn-inner // tag span
		position: relative
		display: block

		&::before
			content: ''

			position: absolute
			top: -11px
			left: -11px

			width: 20px
			height: 1px

			background: $brand-primary-2

			transition: all .2s

		&::after
			content: ''

			position: absolute
			top: -11px
			left: -11px

			width: 1px
			height: 20px

			background: $brand-primary-2

			transition: all .2s

	&_style_3 &__btn-inner,
	&_style_4 &__btn-inner,
	&_style_5 &__btn-inner,
	&_style_7 &__btn-inner

		&::before,
		&::after
			display: none

	&__btn:hover &__btn-inner::before
		left: -21px

	&__btn:active &__btn-inner::before
		left: -25px

	&__btn:hover &__btn-inner::after
		top: -21px

	&__btn:active &__btn-inner::after
		top: -25px

	&__btn-inner-2 // tag span
		position: relative
		z-index: 1 // to be over &__btn::before, &__btn::after and &__btn-inner::before, &__btn::before
		display: flex
		justify-content: center

		width: 100%

		padding: 19px 25px

		background: $brand-primary-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-2, .3 )

		transition: all .2s

	&_style_3 &__btn-inner-2,
	&_style_4 &__btn-inner-2
		box-shadow: none !important // to set :hover and :active

	&_style_5 &__btn-inner-2,
	&_style_7 &__btn-inner-2
		align-items: center

		width: 120px
		height: 120px

		border-radius: 50%
		padding: 10px

		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-2, .17 )

	&__btn:hover &__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-2, .5 )

	&_style_7 &__btn:hover &__btn-inner-2,
	&_style_5 &__btn:hover &__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-2, .5 )

	&__btn:active &__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-2, 0 )

	&_style_7 &__btn:active &__btn-inner-2,
	&_style_5 &__btn:active &__btn-inner-2
		box-shadow: 0px 20px 60px 0 rgba( $brand-primary-2, 0 )

	&__btn-text // tag span
		position: relative // for &:: after
		left: 0

		display: block

		padding-right: 60px

		color: $white
		font-size: 14px
		line-height: 24px
		font-weight: 700
		letter-spacing: .06em

		text-align: center
		text-transform: uppercase

		transition: all .2s

		@extend .i-arrow-3

		&::after
			position: absolute
			top: 6px
			right: 0

			color: $white
			font-size: 13px

	&__btn:hover &__btn-text
		left: 4px

	&__btn:active &__btn-text
		left: 8px

	&_style_5 &__btn-text,
	&_style_7 &__btn-text
		left: 0 !important // to set :hover and :active
		padding-right: 0
		font-size: 12px

		&::after
			display: none

	&__demo
		display: flex
		align-items: center
		justify-content: center

		height: 100%

		margin-left: 0

	&__demo-item
		position: relative
		padding: 20px

	&__demo-img
		width: 32.3125vw
		max-width: 517px

		background: center / cover no-repeat
		box-shadow: 0px 20px 100px 0 rgba( #171f26, .2 )

		&:first-child
			transform: scale( 1 )
			transition: transform .2s

		&:last-child
			position: absolute
			top: 20px
			left: calc( 100% + 20px )

		&_1
			background-image: url( '#{$img}/b-hero/1.jpg' )

		&_2
			background-image: url( '#{$img}/b-hero/2.jpg' )

	&__item_img:hover &__demo-img

		&:first-child
			transform: scale( 1.05 )

	&__demo-img-inner
		padding-top: 141.1992263%
