.b-section-steps
	display: flex
	flex-direction: column

	min-height: 100vh

	padding: 45px 0 0

	background-color: #f8f9fb

	&_style_2
		padding: 34px 0 0
		background-color: #f8f9fb

	&_style_3
		padding: 45px 0 75px

	&::before
		content: ''

		position: absolute
		top: 45px
		left: -80px

		width: 277px
		height: 330px

		background: url( '#{$img}/b-section-steps/bg.png' ) 0 / contain no-repeat

		+md-retina
			background-image: url( '#{$img}/b-section-steps/bg@2x.png' )

	&_bg_none::before
		display: none

	&_style_3::before
		top: 17px
		left: -117px

		width: 263px
		height: 272px

		background: url( '#{$img}/b-section-steps/puzzle.png' ) 0 / contain no-repeat

		+md-retina
			background-image: url( '#{$img}/b-section-steps/puzzle@2x.png' )

	&_style_3::after
		content: ''

		position: absolute
		bottom: -460px
		right: -420px

		width: 974px
		height: 993px

		background: url( '#{$img}/b-section-steps/plant.png' ) 0 / contain no-repeat

		+md-retina
			background-image: url( '#{$img}/b-section-steps/plant@2x.png' )

	&__inner
		position: relative
		z-index: 1 // to be above &&::before

		display: flex
		flex-direction: column
		flex-grow: 1

		width: 100%

	&__heading
		padding: 0 30px

	&__list
		flex-grow: 1
