.c-slick-examples

	@extend .c-slick

	.slick-list
		height: calc( 100% + 180px )
		margin: -90px 0

	.slick-track
		display: flex
		align-items: center

		height: 100%

		padding: 90px 0

	.slick-slide
		position: relative
		height: 95%

		&.slick-center
			z-index: 1

	.slick-arrow
		position: absolute
		top: 50%
		z-index: 9

		width: 50px
		height: 50px

		background-color: $black

		transform: translateY( -50% )

		@extend .i-arrow-5

		&::after
			position: absolute
			top: 18px

			color: $white
			font-size: 14px

			transition: all .2s

	.slick-prev
		left: 0

		&::after
			left: 20px
			transform: rotateY( 180deg )

		&:hover::after
			left: 17px

	.slick-next
		right: 0

		&::after
			right: 20px

		&:hover::after
			right: 17px