.b-modal.c-manipulate-class----modal--1
	.b-modal__inner
		.b-modal__inner-item
			.b-modal__box-wrapper

				.b-modal__overlay.b-modal__close.c-manipulate-class( data-c-manipulate-class-element="body, .c-manipulate-class----modal--1" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove" )

				.b-box.b-box_md.b-box_without_outside_space._block_center.b-modal__box

					.b-box__close.b-btn-box-close.b-modal__close.c-manipulate-class( data-c-manipulate-class-element="body, .c-manipulate-class----modal--1" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove" )

					.b-box__body.b-content-box
						.b-content-box__icon
						.b-content-box__heading
							h2.b-content-box__heading-title Welcome Back, #[span.b-content-box__heading-title_highlight Ruben!]
							p.b-content-box__heading-subtitle Let’s finish the resume you started.
						.b-content-box__options
							.b-content-box__options-item
								button.-ol-btn.b-content-box__btn Pick up where I left off
							.b-content-box__options-item.b-content-box__options-item_last
								button.b-content-box__link Create a new resume
