svg.s-tick( xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 12.01" )
	path( d="M5.74,12a1.22,1.22,0,0,1-.88-.37L.33,6.83A1.2,1.2,0,0,1,2.07,5.17L5.74,9.06,13.92.38A1.2,1.2,0,0,1,15.61.32h0A1.21,1.21,0,0,1,15.67,2L6.61,11.64A1.18,1.18,0,0,1,5.74,12Z" )