extends extends/layout



block content

	.b-hero
		.b-hero__item.b-hero__item_content

			header.b-header
				.b-header__item
					.b-header__logo
				.b-header__item
					nav.b-header__nav
						.b-header__nav-item
							a.b-header__nav-link( href="https://resumedone.io/onboard/start" ) Templates
						.b-header__nav-item
							a.b-header__nav-link( href="https://resumedone.io/onboard/start" ) Log In
						.b-header__nav-item
							a.b-header__nav-btn( href="https://resumedone.io/onboard/start" ) Get Started

			section.b-hero__content.b-hero__content_style_2
				.b-hero__heading.b-hero__heading_style_2
					h1.b-hero__heading-text #[span.b-hero__heading-text_highlighted Easy] Online CV Builder
					p.b-hero__subheading-text Get all the help you need to create a professional CV in minutes

				ul.b-hero__list
					li.b-hero__list-item
						p.b-hero__list-text Choose your favorite template
					li.b-hero__list-item
						p.b-hero__list-text Use our pre-written examples. As easy as a click
					li.b-hero__list-item.b-hero__list-item_last
						p.b-hero__list-text Get step-by-step guidance and helpful tips

				a.b-hero__btn( href="https://resumedone.io/onboard/start" )
					span.b-hero__btn-inner
						span.b-hero__btn-inner-2
							span.b-hero__btn-text Create my CV

		a.b-hero__item.b-hero__item_img.b-hero__item_img_style_2( href="https://resumedone.io/onboard/start" )
			.b-hero__slider
				.b-hero__slider-item
					.b-hero__slider-img.b-hero__slider-img_1
						.b-hero__slider-img-inner
					.b-hero__slider-img.b-hero__slider-img_2
						.b-hero__slider-img-inner
			.b-hero__slider-nav
				.b-hero__slider-nav-btn
				.b-hero__slider-nav-btn



append scripts

	script(
		src="dist/js/specific/app.js" )