extends extends/layout



block content

	.b-preloader-3.c-manipulate-class-timing( data-c-manipulate-class-timing-class="b-preloader-3_running" data-c-manipulate-class-timing-duration="1000" )
		.b-preloader-3__list
			.b-preloader-3__list-inner
				.b-preloader-3__list-item.b-preloader-3__list-item_1
					.b-preloader-3__box
						include includes/s-tick-2
						p.b-preloader-3__text Loading 20 Professional Resume Designs
				.b-preloader-3__list-item.b-preloader-3__list-item_2
					.b-preloader-3__box
						include includes/s-tick-2
						p.b-preloader-3__text Loading 282 Pre-written Samples
				.b-preloader-3__list-item.b-preloader-3__list-item_3
					.b-preloader-3__box
						include includes/s-tick-2
						p.b-preloader-3__text Loading 152 Writing Tips
				.b-preloader-3__list-item.b-preloader-3__list-item_4
					.b-preloader-3__box
						include includes/s-tick-2
						p.b-preloader-3__text Loading Customer Service Help
				.b-preloader-3__list-item.b-preloader-3__list-item_5
					.b-preloader-3__box
						include includes/s-tick-2
						p.b-preloader-3__text Loading Fonts and Design Tools
				.b-preloader-3__list-item.b-preloader-3__list-item_6
					.b-preloader-3__box
						include includes/s-tick-2
						p.b-preloader-3__text Finished
		.b-preloader-3__logo

	header.b-header
		.b-header__item
			.b-header__logo

	.b-state
		.b-state__header
			.b-state__header-item
				.b-state__heading Step 1 of 4
			.b-state__header-item
				.b-state__nav
					.b-state__nav-inner
						.b-state__nav-item
							button.b-state__nav-btn( disabled )
						.b-state__nav-item
							button.b-state__nav-btn
		.b-state__slider
			.b-state__slider-bar( style="width: 25%;" )

	.b-section-steps
		.b-section-steps__inner

			.b-section-steps__heading
				.b-heading
					h1.b-heading__title Choose Your CV Template
					p.b-heading__subtitle Select a template below. You can change this later.

			.b-section-steps__list.b-list-examples
				.b-list-examples__inner.c-slick-examples
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/1.jpg )" )
							button.b-list-examples__btn.-ol-btn Start with this template
							h2.b-list-examples__title Gaborone
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/2.jpg )" )
							button.b-list-examples__btn.-ol-btn Start with this template
							h2.b-list-examples__title Gaborone
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/3.jpg )" )
							button.b-list-examples__btn.-ol-btn Start with this template
							h2.b-list-examples__title Abuja
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/4.jpg )" )
							button.b-list-examples__btn.-ol-btn Start with this template
							h2.b-list-examples__title Nice
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/5.jpg )" )
							button.b-list-examples__btn.-ol-btn Start with this template
							h2.b-list-examples__title Nice



append scripts

	script(
		src="dist/js/plugins/slick.js" )

	script(
		src="dist/js/specific/app.js" )