extends extends/layout



block content

	header.b-header
		.b-header__item
			.b-header__logo

	.b-section-steps
		.b-section-steps__inner

			.b-section-steps__heading
				.b-heading-2
					h1.b-heading-2__title.b-heading-2__title_last Select a Template
					.b-state-2
						.b-state-2__progress( width="12.5%" )
						.b-state-2__bar
							.b-state-2__circle.b-state-2__circle_active
							.b-state-2__circle
							.b-state-2__circle
					p.b-heading-2__subtitle To get started, select a resume template below.

			.b-section-steps__list.b-list-examples
				.b-list-examples__inner.c-slick-examples
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/1.jpg )" )
							button.b-list-examples__btn-5
								span.b-list-examples__btn-5-text Select
							h2.b-list-examples__title Austin
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/2.jpg )" )
							button.b-list-examples__btn-5
								span.b-list-examples__btn-5-text Select
							h2.b-list-examples__title Riga
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/3.jpg )" )
							button.b-list-examples__btn-5
								span.b-list-examples__btn-5-text Select
							h2.b-list-examples__title Abuja
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/4.jpg )" )
							button.b-list-examples__btn-5
								span.b-list-examples__btn-5-text Select
							h2.b-list-examples__title Nice
					.b-list-examples__item
						a.b-list-examples__item-inner( href="#!" )
							.b-list-examples__img
								img.b-list-examples__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples__img-inner( style="background-image: url( media/img/b-list-examples/5.jpg )" )
							button.b-list-examples__btn-5
								span.b-list-examples__btn-5-text Select
							h2.b-list-examples__title Nice

			footer.b-footer-2
				.b-footer-2__list
					.b-footer-2__list-item
						a.b-footer-2__list-link( href="#!" ) Contact us
					.b-footer-2__list-item
						a.b-footer-2__list-link( href="#!" ) Privacy
					.b-footer-2__list-item
						a.b-footer-2__list-link( href="#!" ) Disclaimer
					.b-footer-2__list-item
						a.b-footer-2__list-link( href="#!" ) Terms of service



append scripts

	script(
		src="dist/js/plugins/slick.js" )

	script(
		src="dist/js/specific/app.js" )