extends extends/layout



block vars

	-
		var bodyClass = '_hidden'



block content

	header.b-header
		.b-header__item
			.b-header__logo

	.b-state
		.b-state__header
			.b-state__header-item
				.b-state__heading Step 1 of 4
			.b-state__header-item
				.b-state__nav
					.b-state__nav-inner
						.b-state__nav-item
							button.b-state__nav-btn( disabled )
						.b-state__nav-item
							button.b-state__nav-btn
		.b-state__slider
			.b-state__slider-bar( style="width: 25%;" )

	.b-section-steps
		.b-section-steps__inner

			.b-section-steps__heading
				.b-heading-3
					h1.b-heading-3__title Select a Template
					p.b-heading-3__subtitle To get started, select a resume template below.

			.b-section-steps__list.b-list-examples-2.b-list-examples-2_style_2
				.b-list-examples-2__inner.c-slick-examples.c-slick-examples_style_3
					.b-list-examples-2__item
						a.b-list-examples-2__item-inner( href="#!" )
							.b-list-examples-2__img
								img.b-list-examples-2__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples-2__img-inner( style="background-image: url( media/img/b-list-examples/1.jpg )" )
							p.b-list-examples-2__text Click to select#[br]this template
							button.b-list-examples-2__btn.-ol-btn Select
							h2.b-list-examples-2__title Austin
					.b-list-examples-2__item
						a.b-list-examples-2__item-inner( href="#!" )
							.b-list-examples-2__img
								img.b-list-examples-2__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples-2__img-inner( style="background-image: url( media/img/b-list-examples/2.jpg )" )
							p.b-list-examples-2__text Click to select#[br]this template
							button.b-list-examples-2__btn.-ol-btn Select
							h2.b-list-examples-2__title Riga
					.b-list-examples-2__item
						a.b-list-examples-2__item-inner( href="#!" )
							.b-list-examples-2__img
								img.b-list-examples-2__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples-2__img-inner( style="background-image: url( media/img/b-list-examples/3.jpg )" )
							p.b-list-examples-2__text Click to select#[br]this template
							button.b-list-examples-2__btn.-ol-btn Select
							h2.b-list-examples-2__title Abuja
					.b-list-examples-2__item
						a.b-list-examples-2__item-inner( href="#!" )
							.b-list-examples-2__img
								img.b-list-examples-2__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples-2__img-inner( style="background-image: url( media/img/b-list-examples/4.jpg )" )
							p.b-list-examples-2__text Click to select#[br]this template
							button.b-list-examples-2__btn.-ol-btn Select
							h2.b-list-examples-2__title Nice
					.b-list-examples-2__item
						a.b-list-examples-2__item-inner( href="#!" )
							.b-list-examples-2__img
								img.b-list-examples-2__img-plug( src="media/img/b-list-examples/default.jpg" alt="Template is Loading" )
								.b-list-examples-2__img-inner( style="background-image: url( media/img/b-list-examples/5.jpg )" )
							p.b-list-examples-2__text Click to select#[br]this template
							button.b-list-examples-2__btn.-ol-btn Select
							h2.b-list-examples-2__title Nice



append scripts

	script(
		src="dist/js/plugins/slick.js" )

	script(
		src="dist/js/specific/app.js" )