extends extends/layout



block content

	header.b-header.b-header_style_2
		.b-header__item
			.b-header__logo

	.b-state
		.b-state__header
			.b-state__header-item
				.b-state__heading Step 1 of 4
			.b-state__header-item
				.b-state__nav
					.b-state__nav-inner
						.b-state__nav-item
							button.b-state__nav-btn( disabled )
						.b-state__nav-item
							button.b-state__nav-btn
		.b-state__slider
			.b-state__slider-bar( style="width: 25%;" )

	.b-section-steps
		.b-section-steps__inner

			.b-section-steps__heading
				.b-heading
					h1.b-heading__title Choose Your CV Template
					p.b-heading__subtitle Select a template below. You can change this later.

			.b-section-steps__list.b-list-examples
				.b-list-examples__inner.c-slick-examples
					a.b-list-examples__item( href="#!" )
						img.b-list-examples__img( src="media/img/b-list-examples/1.jpg" alt="CV Template" )
						button.b-list-examples__btn.-ol-btn Start with this template
						.b-list-examples__title Gaborone
					a.b-list-examples__item( href="#!" )
						img.b-list-examples__img( src="media/img/b-list-examples/2.jpg" alt="CV Template" )
						button.b-list-examples__btn.-ol-btn Start with this template
						.b-list-examples__title Gaborone
					a.b-list-examples__item( href="#!" )
						img.b-list-examples__img( src="media/img/b-list-examples/3.jpg" alt="CV Template" )
						button.b-list-examples__btn.-ol-btn Start with this template
						.b-list-examples__title Abuja
					a.b-list-examples__item( href="#!" )
						img.b-list-examples__img( src="media/img/b-list-examples/4.jpg" alt="CV Template" )
						button.b-list-examples__btn.-ol-btn Start with this template
						.b-list-examples__title Nice
					a.b-list-examples__item( href="#!" )
						img.b-list-examples__img( src="media/img/b-list-examples/5.jpg" alt="CV Template" )
						button.b-list-examples__btn.-ol-btn Start with this template
						.b-list-examples__title Nice



append scripts

	script(
		src="dist/js/plugins/slick.js" )

	script(
		src="dist/js/specific/app.js" )