extends extends/layout



block content

	.b-template-customization
		.b-template-customization__item.b-template-customization__item_content
			.b-steps
				.b-steps__list
					.b-steps__item.b-steps__item_active
						p.b-steps__text Heading
					.b-steps__item
						p.b-steps__text Experience
					.b-steps__item
						p.b-steps__text Education
					.b-steps__item
						p.b-steps__text Skills
					.b-steps__item
						p.b-steps__text Summary
					.b-steps__item
						p.b-steps__text Finalize
				.b-steps__slider
					.b-steps__slider-bar( style="width: 8.3333333%;" )

			.b-template-customization__content.b-template-customization__content_style_2
				.b-template-customization__content-inner
					.b-template-customization__content-inner-2.b-template-customization__content-inner-2_round_cta
						.b-template-customization__heading.b-template-customization__heading_style_2
							h1.b-template-customization__heading-text.b-template-customization__heading-text_style_2 What's the #[span.b-template-customization__heading-text_highlighted best way] for Employers to contact you?
							p.b-template-customization__heading-subtext.b-template-customization__heading-subtext_style_2 We suggest including your best email

						.b-template-customization__form
							.-ol-form-body
								.-ol-row-input.-ol-row-input_max_h_sm
									.-ol-row
										.-ol-col-6
											.-ol-input-wrap
												label.-ol-label.-ol-label_max_h_sm
													span.-ol-label-text First Name
												input.-ol-input.-ol-input_style_4( type="text" placeholder="Name" )

										.-ol-col-6
											.-ol-input-wrap
												label.-ol-label.-ol-label_max_h_sm
													span.-ol-label-text Last Name
												input.-ol-input.-ol-input_style_4( type="text" placeholder="" )

								.-ol-row-input.-ol-row-input_max_h_sm
									.-ol-row
										.-ol-col-12
											.-ol-input-wrap
												label.-ol-label.-ol-label_max_h_sm
													span.-ol-label-text Address
												input.-ol-input.-ol-input_style_4( type="text" placeholder="" )

								.-ol-row-input.-ol-row-input_max_h_sm
									.-ol-row
										.-ol-col-6
											.-ol-input-wrap
												label.-ol-label.-ol-label_max_h_sm
													span.-ol-label-text City
												input.-ol-input.-ol-input_style_4( type="text" placeholder="" )

										.-ol-col-6
											.-ol-input-wrap
												label.-ol-label.-ol-label_max_h_sm
													span.-ol-label-text Postal Code
												input.-ol-input.-ol-input_style_4( type="text" placeholder="" )

								.-ol-row-input.-ol-row-input_max_h_sm.-ol-row-input_last
									.-ol-row
										.-ol-col-6
											.-ol-input-wrap
												label.-ol-label.-ol-label_max_h_sm
													span.-ol-label-text Phone
												input.-ol-input.-ol-input_style_4( type="text" placeholder="" )

										.-ol-col-6
											.-ol-input-wrap
												label.-ol-label.-ol-label_max_h_sm
													span.-ol-label-text Email
												input.-ol-input.-ol-input_style_4( type="text" placeholder="" )

							button.b-template-customization__btn-next-2
								span.b-template-customization__btn-next-2-inner
									span.b-template-customization__btn-next-2-text Next



		.b-template-customization__item.b-template-customization__item_img

			.b-select-template
				.b-select-template__label Change template
				.b-select-template__select.c-manipulate-class( data-c-manipulate-class-element=".c-manipulate-class----selectbox-template-dropdown" data-c-manipulate-class-class="b-select-template__dropdown_active" )
					.b-select-template__select-box
						.b-select-template__text Budapest
					.b-select-template__dropdown.c-manipulate-class----selectbox-template-dropdown
						.b-select-template__dropdown-inner
							.b-select-template__dropdown-item
								.b-select-template__dropdown-text Budapest 1
							.b-select-template__dropdown-item.b-select-template__dropdown-item_active
								.b-select-template__dropdown-text Budapest
							.b-select-template__dropdown-item
								.b-select-template__dropdown-text Budapest 3
							.b-select-template__dropdown-item
								.b-select-template__dropdown-text Budapest 4
							.b-select-template__dropdown-item
								.b-select-template__dropdown-text Budapest 5
							.b-select-template__dropdown-item
								.b-select-template__dropdown-text Budapest 6

			.b-template-customization__demo
				.b-template-customization__demo-img
					.b-template-customization__demo-img-inner



	include includes/b-box----continue--1



append scripts

	script(
		src="dist/js/specific/app.js" )