extends extends/layout



block content

	.b-template-customization
		.b-template-customization__item.b-template-customization__item_content
			.b-steps
				.b-steps__list
					.b-steps__item.b-steps__item_active
						p.b-steps__text Heading
					.b-steps__item
						p.b-steps__text Experience
					.b-steps__item
						p.b-steps__text Education
					.b-steps__item
						p.b-steps__text Skills
					.b-steps__item
						p.b-steps__text Summary
					.b-steps__item
						p.b-steps__text Finalize
				.b-steps__slider
					.b-steps__slider-bar( style="width: 8.3333333%;" )

			.b-template-customization__content
				.b-template-customization__content-inner
					.b-template-customization__heading
						h1.b-template-customization__heading-text What's the #[span.b-template-customization__heading-text_highlighted best way] for Employers to contact you?
						p.b-template-customization__heading-subtext We suggest including an email and phone number

					.b-template-customization__form
						.-ol-form-body
							.-ol-row-input.-ol-row-input_m_b_sm
								.-ol-row
									.-ol-col-6
										.-ol-input-wrap.-ol-input-wrap_style_2
											label.-ol-label.-ol-label_m_b_xxl
												span.-ol-label-text First Name
											input.-ol-input.-ol-input_style_2( type="text" placeholder="Nick" )

									.-ol-col-6
										.-ol-input-wrap.-ol-input-wrap_style_2
											label.-ol-label.-ol-label_m_b_xxl
												span.-ol-label-text Last Name
											input.-ol-input.-ol-input_style_2( type="text" placeholder="Johnson" )

							.-ol-row-input.-ol-row-input_m_b_sm
								.-ol-row
									.-ol-col-12
										.-ol-input-wrap.-ol-input-wrap_style_2
											label.-ol-label.-ol-label_m_b_xxl
												span.-ol-label-text Address
											input.-ol-input.-ol-input_style_2( type="text" placeholder="Enter a location" )

							.-ol-row-input.-ol-row-input_m_b_sm
								.-ol-row
									.-ol-col-6
										.-ol-input-wrap.-ol-input-wrap_style_2
											label.-ol-label.-ol-label_m_b_xxl
												span.-ol-label-text City
											input.-ol-input.-ol-input_style_2( type="text" placeholder="San Francisco" )

									.-ol-col-6
										.-ol-input-wrap.-ol-input-wrap_style_2
											label.-ol-label.-ol-label_m_b_xxl
												span.-ol-label-text Postal Code
											input.-ol-input.-ol-input_style_2( type="text" placeholder="94120" )

							.-ol-row-input.-ol-row-input_m_b_sm.-ol-row-input_last
								.-ol-row
									.-ol-col-6
										.-ol-input-wrap.-ol-input-wrap_style_2
											label.-ol-label.-ol-label_m_b_xxl
												span.-ol-label-text Phone
											input.-ol-input.-ol-input_style_2( type="text" placeholder="305-123-44444" )

									.-ol-col-6
										.-ol-input-wrap.-ol-input-wrap_style_2
											label.-ol-label.-ol-label_m_b_xxl
												span.-ol-label-text Email
											input.-ol-input.-ol-input_style_2( type="text" placeholder="e.g. mail@example.com" )

						button.b-template-customization__btn-next
							span.b-template-customization__btn-next-text Next to Experience



		.b-template-customization__item.b-template-customization__item_img.b-template-customization__item_img_style_4
			.b-template-customization__demo
				.b-template-customization__demo-img
					.b-template-customization__demo-img-inner



append scripts

	script(
		src="dist/js/specific/app.js" )